@import "../../assets/scss/_define";
@import "../../assets/scss/common";

// 轮播图
.swiper-container {
    @extend %w100;
    height: j(150);
    margin-left: auto;
    margin-right: auto;
}
.swiper-slide {
    @extend %tac;
    a,
    img{
        @extend %db;
        @extend %w100;
        @extend %h100;
    }
}
.swiper-pagination-bullet{
    opacity: 0.3;
}
.swiper-pagination-bullet-active{
    background-color: #029BDD;
}

.session{
    background-color: #fff;
}
.session-header{
    @extend %df;
    align-items: center;
    height: j(50);
    border-bottom: 1px solid #ddd;
    justify-content: space-between;
    padding: 0 j(20);
}
.title{
    @extend %fwn;
    font-size: j(16);
    color: #333;
    padding-left: j(5);
    border-left: j(4) solid #007aff;
    height: j(16);
    line-height: j(16);
}
.link{
    @extend %db;
    width: j(20);
    height: j(13);
    background: url("../../assets/images/card_schedule_icon.png") no-repeat;
    background-size: contain;
}
.list{
    @extend %df;
    flex-wrap: wrap;
    font-size: 0;
    padding-left: j(5);
}
.item{
    @extend %df;
    justify-content: center;
    align-items: center;
    width: j(85);
    height: j(103);
    margin-left: j(5);
    flex-direction: column;
    margin-bottom: j(4);
}
.icon{
    @extend %db;
    width: j(50);
    height: j(50);
}
.name{
    margin-top: j(6);
    font-size: j(12);
    color: #333;
}

.cut{
    @extend %w100;
    @extend %df;
    justify-content: center;
    align-items: center;
    height: j(30);
}
.cut-bar{
    width: j(60);
    height: j(1);
    background-color: #999;
}
.cut-text{
    font-size: j(12);
    color: #999;
    margin: 0 j(4);
}
