<!DOCTYPE html>
<html>
<head>
    <!--设置字符编码-->
    <meta charset="UTF-8">
    <!--手机开发屏幕自适应-->
    <meta name="viewport" content="width=device-width,initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
    <!--设置标题-->
    <title>TIME</title>
    <!--引入ico-->
    <!--<link rel="shortcut icon" href="static/favicon.ico?v=2">-->
    <script src="static/lib/flexible.js"></script>
</head>
<body>
    <!--轮播图-->
    <div class="swiper-container">
        <div class="swiper-wrapper" id="swiper-wrapper"></div>
        <!-- Add Pagination -->
        <div class="swiper-pagination"></div>
    </div>
    <!--/轮播图-->
    <div class="cut">
        <div class="cut-bar"></div>
        <span class="cut-text">平台服务均由第三方提供</span>
        <div class="cut-bar"></div>
    </div>
    <!--列表-->
    <div class="session">
        <div class="session-header">
            <h2 class="title">好信用·惠生活</h2>
            <a href="./progress.html" class="link"></a>
        </div>
        <ul class="list" id="list"></ul>
    </div>
    <!--/列表-->
    <!--<script src="http://www.owulia.com/ink/static/eruda.min.js"></script>-->
    <!--<script>-->
        <!--eruda.init();-->
    <!--</script>-->
</body>
</html>

